/* Seção de produtos */
.featured-products {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.product-item {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.product-image {
  background-color: #f5f5f5;
  margin-bottom: 15px;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.product-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  transition: background-color 0.3s ease;
  z-index: 1;
  pointer-events: none;

}

.product-image:hover::before {
  background-color: rgba(0, 0, 0, 0.3);

}


.product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transform: scale(1);
  transition: transform 0.8 ease-in;
  z-index: 2;

}

.product-image:hover img {
  transform: scale(1.1);
}

.product-name {
  font-size: 1.1em;
  font-weight: 600;
  margin: 5px 0;
}

.product-description {
  font-size: 0.9em;
  color: #666;
  margin-bottom: 15px;
  min-height: 40px;
}

.product-price {
  font-size: 1.3em;
  font-weight: 600;
  margin-bottom: 15px;
  color: #004aad;
}

.add-to-cart {
  background-color: #004aad;
  color: white;
  border: none;
  padding: 12px 20px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  margin-top: auto;
  border-radius: 5px;
}

.add-to-cart:hover {
  background-color: #007bff;
}

/* Responsivo */
@media (max-width: 768px) {
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .products-grid {
    grid-template-columns: 1fr;
  }
}
